/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* base css */
* { 
margin: 0;
padding: 0;
box-sizing: border-box;
}

body { 
    /* base font */
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;

    padding: 30px;
}

.header {
    height: 95vh; /* 95% of viewport height */
    background-image: 
        linear-gradient(to right bottom, #7ed56fc0, #28b485c0), 
        url(../img/hero.jpg);
    background-size: cover; /* fit the width of the viewport */
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
}

.logo-box {
    position: absolute; /* absolute relative to parent - parent position needs to be relative */
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px;
}

.text-box { 
    /* centering */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading-primary {
    color: #ffffff;
    text-transform: uppercase;

    /* fixing shaky animation */
    backface-visibility: hidden;
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;

    /* only properties required for animation to work */
    animation-name: moveInLeft;
    animation-duration: 1s;

    /*
    animation-delay: 3s; delays animation
    animation-iteration-count: 3; repeats animation
    */

    animation-timing-function: ease-out;
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;

    animation: moveInRight 1s ease-out;
}

/* browser animation - best to do opacity and transform only */
@keyframes moveInLeft {
    0% { /* start of the animation */
        opacity: 0; /* invisible */
        transform: translateX(-100px); /* start from 100px to the left */
    }

    70% {
        transform: translateX(10px);
    }

    100% { /* end of the animation */
        opacity: 1; /* visible */
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% { /* start of the animation */
        opacity: 0; /* invisible */
        transform: translateX(100px); /* start from 100px to the right */
    }

    70% {
        transform: translateX(-10px);
    }

    100% { /* end of the animation */
        opacity: 1; /* visible */
        transform: translate(0);
    }
}