@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


// media query manager
/*
    phone           0-600px:        Phone
    tab-port        600-900px:      Tablet portrait
    tab-land        900-1200px:     Tablet landscape
    n/a             1200-1800px:    Desktop - normal style
    big-desktop     1800px-:        Big desktop
*/

// media query implementation order
// base + typography -> general layout + grid > page layout > components

// in media queries, base font-size is always 16px, and ems work the best
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) { @content }; // 600px
    }

    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) { @content }; // 900px
    }

    @if $breakpoint == tab-land {
        @media (max-width: 75em) { @content }; // 1200px
    }

    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) { @content }; // 1800px
    }
}