/* universal reset */
/* actual elements, pseudo elements */
/* inherit box sizing so that other plugins can use it */
*,
*::after,
*::before { 
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* configuring root font size, so we can make use of rem unit */
/* configuring the font size to percentage, so that user's default font size can be applied */
html {
    font-size: 62.5%; /* 62.5% = 10px, as default font size is 16px */
}

body { 
    box-sizing: border-box;
}